.App {
  text-align: center;
  width: 90%;
  padding-right: 3%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

h1, h3 {
  margin: 0;
  padding: 3%;
  font-family: 'Quicksand', sans-serif;
}

a {
  text-decoration: none;
}

p {
  font-family: 'Quicksand', sans-serif;
}

/*#E2CFEA #B5B1B2 #2D2A32 #7A7978 #C6D8FF*/
/*https://coolors.co/f4e409-1be7ff-5efc8d-4464ad-6153cc*/