@import "../node_modules/react-image-gallery/styles/css/image-gallery.css";

.LandingSliderWrapper {
    text-align: center;
}

ImageGallery {
    height: 700px;
}

.image-gallery-thumbnails {
    display: none;
}

.image-gallery-slide {
    height: 720px;
}

img {
    /*width: 100%;
    height: 700px;*/
}