@import "../node_modules/react-image-gallery/styles/css/image-gallery.css";

.LandingSliderWrapper {
    text-align: center;
}

ImageGallery {
    height: 200px;
}

.image-gallery-thumbnails {
    display: none;
}

.image-gallery-slide {
    height: 730px;
}