/*p {
  display: inline-block;
}*/

.contact-logo {
  /*height: 25px;
  padding: 10px 5px 0 5px;*/
  display: none;
}

.MenuBarNav {
  /*background-color: darkorange;*/
  position: fixed;
  top: 0;
  right: 0%;
  height: 100vh;
  width: 10%;
  z-index: 1;
}

/*.MenuBarNav:hover {
  background-color: darkorange;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 15%;
  z-index: 1;
}*/


.HomeNav, .GroupNav, .PrivateNav, .WorkoutsNav, .TimetableNav, .TreatsNav {
  /*border: 1px solid white;*/
  height: 10.6vh;
  padding-top: 6vh;
  margin: 0;
    /*font-family: 'Quicksand', sans-serif;*/
  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'Dancing Script', cursive;
  color: white;
  font-size: 1.2em;
}

.HomeNav {
  /*background-color: yellow;*/
  background-color: #ffff4c;
  border: 1px solid white;
}

.HomeNav:hover {
  background-color: white;
  color: grey;
}

.GroupNav {
  /*background-color: deeppink;*/
  background-color: #5EFC8D;
  border: 1px solid white;

}

.GroupNav:hover {
  background-color: white;
  color: grey;
}

.PrivateNav {
  /*background-color: dodgerblue;*/
  background-color: #8EF9F3;
  border-right: 1px solid white;
  border-left: 1px solid white;
}

.PrivateNav:hover {
  background-color: white;
  color: grey;
}

.WorkoutsNav {
  /*background-color: cyan;*/
  background-color: #6153CC;
  border: 1px solid white;
}

.WorkoutsNav:hover {
  background-color: white;
  color: grey;
}

.TimetableNav {
  /*background-color: lawngreen;*/
  background-color: #963484;
  border-right: 1px solid white;
  border-left: 1px solid white;
}

.TimetableNav:hover {
  background-color: white;
  color: grey;
}

.TreatsNav {
  background-color: mediumpurple;
}

.TreatsNav:hover {
  background-color: white;
  color: grey;
}

.ContactNav {
  height: 6vh; 
  padding: 7vh 0 3vh 0;
  margin: 0;
  /*background-color: darkorange;*/
  background-color: #1BE7FF;
  /*border: 1px solid white;*/
  border-right: 1px solid white;
  border-left: 1px solid white;
  /*font-family: 'Quicksand', sans-serif;*/
  /*font-family: 'Roboto', sans-serif;*/
  color: white;
}

.ContactNav:hover {
  background-color: white; 
  color: grey;
}

.Contact {
  /*display: inline-block;*/
  margin: 0;
  font-family: 'Dancing Script', cursive;

}