.SocialMediaFooterWrapper {
    height: 30%;
    background-color: #2D2A32;
    text-align: center;
    /*padding-left: 20%;*/
    /*position: fixed;
    left:0px;
    bottom:0px;
    width:100%;*/
}


.social-logo {
    /*height : 80px;*/
    width: 10%;
    padding: 5%  5% 2% 0;
}

#createdBy {
    color: darkgray;
    display: block;
    font-size: 15px;
    font-family: 'Dancing Script', cursive;
    text-decoration: none;
    padding: 20px 0 20px 0; 
}