.SocialMediaFooterWrapper {
    height : 200px;
    background-color: grey;
    text-align: center;
    padding-left: 35vh;
    /*position: fixed;
    left:0px;
    bottom:0px;
    width:100%;*/
}


.social-logo {
    height : 80px;
    padding: 68px 50px 0 50px;
}

#createdBy {
    color: darkgray;
    /*display: inline-block;*/
    font-size: 15px;
    font-family: 'Dancing Script', cursive;
    text-decoration: none;
    padding: 100px 0 5px 30px;
}